body {
    /* background-color: #A6BB8D; */
    padding: 0;
    margin: 0;
}

.header {
    background-color: #EB455F;
    padding: 1rem 2vw;
}

.header-title {
    font-size: 26px;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.body-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-page {
    width: 80%;
    margin-top: 2rem;
    /* background-color: #61876E; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-page,
.right-page {
    width: 50%;
    height: 100%;
    padding: 5rem 0;
}

#mainpage {
    width: 100%;
    height: 100;
}

#canvasContainer {
    /* background-image: url('../images/basic_wheel_background.png');
    background-repeat: no-repeat;
    background-position: center; */
    /* width: 400px;
    height: 400px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas {
    z-index: 1;
}

#prizePointer {
    position: absolute;
    top: -4vh;
    z-index: 999;
}

#firework-bg {
    display: none;
}

#btnSpin {
    background-color: rgb(61 61 61);
    color: white;
    border: none;
    padding: 5px;
    font-size: 18px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 50%;
    border-color: white;
}

#btnSpin:hover {
    background-color: rgb(41, 40, 40);
}

#btnSpin:active {
    background-color: rgb(41, 40, 40);
}

.wheelContainer {
    position: relative;
}

.runSpin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    z-index: 4;
    transform: translateY(-50%);
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    pointer-events: none;
    font-size: 14px;
}