body {
    background-color: white;
}

#mainpage {
    position: absolute;
    width: 98vw;
    height: 98vh;
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    pointer-events: none;
    font-size: 14px;
}